
body {
    font-family: Calluna, Arial, sans-serif;
    min-height: 1000px;
}
#columns {
    column-width: 220px;
    column-gap: 15px;
    width: 90%;
    max-width: 1500px;
    margin: 50px auto;
}

div#columns figure {
    background: #fefefe;
    border: 2px solid #fcfcfc;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    margin: 0 2px 15px;
    padding: 15px;
    padding-bottom: 10px;
    display: inline-block;
}

div#columns figure img {
    width: 100%; height: auto;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 5px;
}

div#columns figure figcaption {
    font-size: .9rem;
    color: #444;
    line-height: 1.5;
}

div#columns small {
    float: right;
    text-transform: uppercase;
    color: #aaa;
}

div#columns small a {
    color: #666;
    text-decoration: none;
    transition: .4s color;
}

div#columns figure:hover {
    /* cursor: zoom-in; */
    opacity: 0.8;
}

/*arindam*/

.card-images{
    margin-left: 24px;
}
.card-images ul li{
    list-style: none;
    float: left;
    margin-right: 5px;
    border: 1px solid #bfbfbf;
    padding: 2px;
}

.clr{
    clear: both;
}
.input-icons i { 
            position: absolute; 
        } 
          
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 10px; 
    color: #282828; 
    min-width: 50px; 
    text-align: center;
    margin-top: 5px; 
} 
  
.input-field { 
    width: 100%; 
    padding: 10px; 
    text-align: left; 
    padding-left: 40px;
}
.heading-text{
    margin-top: 20px;
}
.crd-btn{
    margin-top: 20px;
}
.trms-sec{
    font-size: 12px;
    margin-top: 10px;
    float:right;
}
.trms-sec span{
    color: #699576;
}
.edit-date{
    width: 50%;
    float: left;
}
.edit-cen{
    background-color: transparent!important;
    color: #000;
    border: 1px solid #0951fb!important;
    border-radius: 0;
}
.edit-cen:hover{
    color: #000;
}
.edit-done {
    border-radius: 0;
    border: 1px solid #0951fb!important;
    background-color: #0951fb!important;
}
.paypel-sec{
    margin-top: 20px;
}
.modal-edit-header{
    border:none;
    font-size: 30px;
    padding: 0;
}
.modal-edit-header span{
    font-size: 30px;
}

/*arindam*/

@media screen and (max-width: 750px) {
    #columns { column-gap: 0px; }
    #columns figure { width: 100%; }
}
/* Image upload section */
.img-upload {
    color: rgb(100, 108, 127);
    position: relative;
    display: inline-flex;
    align-items: center;
    border: 2px dashed rgb(142, 142, 142);
    border-radius: 20px;
    text-align: center;
    width: 100%;
    height: 90%;
}
#uploaded-image img {
  width: 100%;
  height: 80%;
}

.img-upload:hover {
    cursor: pointer;
 }
 
#inner-img-upload {
   margin: auto;
}

#update_image {
  position: absolute;
  top:0;
  width: 100%;
  height: 100%;
}

#inner-img-upload i.fa-camera {
    margin: 10px;
    cursor: pointer;
}
#inner-img-upload i:hover {
    opacity: 0.6;
}
#inner-img-upload input {
   
}
#update_image input {
  display: none;
}
#inner-img-upload button {
    background: none;
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}


/* Dropzone */
/* #dropzone {
  color: rgb(100, 108, 127);
  background: white;
  border-radius: 20px;
  border: 2px dashed rgb(142, 142, 142);
  border-image: none;
  max-width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  text-align: center;
  position: relative;
  display: inline-flex;
  align-items: center;
}
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  z-index: 10;
}
.dropzone {
  min-height: 150px;
  border: 0;
  background: white;
  padding: 20px 20px;
} */

#form-footer {
    margin-bottom: 20px;
}

#form-footer .form-footer-left a{
    color: #212529;
}

#form-footer .form-footer-right a{
    padding: 3px;
    margin: 2px;
    color: #212529;
    overflow: hidden;
}
/* Item Show Page */
#user-profile-img img {
    width:50px;
    height:50px;
}

#item-image img {
    position: relative;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: 80%;
    height: 90%;
    padding-top: 20px;
}


/* Global Style */
a {
    color: #212529;
}
.share-save-icon:hover .share-save-icon-buyr{ 
    opacity: 1 !important;
}
.w-4{
    width:4% !important;
}
.share-save-icon-buyr
{
    width:12%;
    position:absolute;
    border-bottom:0px !important;
    opacity: 0;
}
.m-2-45
{
    margin-top:45px !important;
}
.image-upload-icon{
    position: absolute;
    left: 76px;
    opacity: 1;
    color: grey;
}
.m-l-42{
    margin-left:42%
}
.m-l-12{
    margin-left:42%
}
.hover-effect:hover .image-upload-icon{
    opacity:1;
 }
 .image-upload-icon input{
     display: none;
 }
 .article{
     left: 15px !important;
 }
.ads-grid{
    margin-bottom: 60px;
    border:1px solid #ececec;
}
 .ads-grid-header{
     background: #948a54;
    text-align: center;
     font-weight: bold;
 }
 .ads-grid-row{
     border-top:1px solid #ececec;
     padding: 5px 5px;
 }
 .margin-bottom-20{
     margin-bottom: 20px;
 }
 .ads-type-box{
     border:1px solid #00a2e8;
     min-height: 400px;
 }
 .ads-type-box-title{
     background: white;
     position: relative;
     display: inline-block;
     top: -13px;
     left: 30px;
     font-weight: 700;
 }

ads-type-image{
    position: relative;
}
#drop-zone {
    /*Sort of important*/
    width: 80%;
    margin: -15px auto 15px;
    /*Sort of important*/
    height: 100px;
    border: 2px dashed rgba(0,0,0,.3);
    border-radius: 20px;
    text-align: center;
    position: relative;
    line-height: 75px;
    font-size: 20px;
    color: rgba(0,0,0,.3);
    cursor: move;
}

#drop-zone input {
    /*Important*/
    position: absolute;
    /*Important*/
    cursor: pointer;
    left: 0px;
    top: 0px;
    /*Important This is only comment out for demonstration purposes.*/
    opacity:0;
    cursor: move;
    z-index: 10;
}

/*Important*/
#drop-zone.mouse-over {
    border: 2px dashed rgba(0,0,0,.5);
    color: rgba(0,0,0,.5);
}


/*If you dont want the button*/
#clickHere {
    position: absolute;
    cursor: pointer;
    top: 45px;
    font-weight: bold;
    line-height: 26px;
    color: black;
    font-size: 12px;
    width: 100%;
    height: 26px;
    background-color: transparent;
    z-index: 5;
}
.cameraIcon .fa-camera{
    font-size: 32px;
    color:black;
}
.dragableinputfile{
    height: 100%;
    width: 100%;
    cursor: move;
}
.ads-type-option{
    padding: 0px 36px;
    font-size: 18px ;
    font-weight: 500;
}
.formLabel{
    font-size: 18px ;
    font-weight: 500;
}

.custom-arrowDesign{
    font-size: 35px;
    font-weight: 700;
    position: relative;
    top: 1px;
    left: -23px;
}
.gray-text{
    color:#989494;
}
.full-height{
    height: 100%;
    position: relative;
}
.blue-Box{
    border:1px solid #00a2e8;
    min-height: 100px;
    display: inline-block;
}
.blue-Box-Title{
    background: white;
    position: relative;
    display: inline-block;
    top: -13px;
    left: 30px;
    font-weight: 700;

}

.blue-Box-absolute-bottom{
    position: absolute;
    bottom: 0px;
}
.no-borders{
    border: none;
}
.btn-custom-Width{
    width: 100%;
}
.admin-side-section{
    text-align: center;
    left: 24px;
    top: -151px;

}
.admin-side-section:after{
    content: '';
    display: inline-block;
    position: absolute;
    height: 80%;
    width: 1.5px;
    left: 0px;
    top: 71px;
    background: #dfdfdf;
    border-radius: 60px;
}
.admin-side-inner{
    top: 163px;
    line-height: 1.5;
    position: relative;
}
.imageDisplay{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    z-index: 1;
}
.adsContent{
    height: 100%;
    width: 100%;
    background: #ececec;
    overflow: auto;
}
.adsContent a.adsLink {
    width: 100%;
    display: inline-block;
}
.adsContent a.adsLink .adsImage{
    width: 100%;
    height: 125px;
}
.position-relative{
    position: relative;
}
.ads-position-absolute-left{
     position: absolute;
     left:1px;
     top:150px;
 }
.ads-position-absolute-right{
    position: absolute;
    right:41px;
    top:150px;
}

.modal-window{
   /* transition: all .40s ease-in-out;*/
    min-height: 335px;
    width: 700px;
    position: fixed;
    background: #ececec;
    z-index: 10000;
    left:60%;
    margin-left: -350px;
    top:50%;
    margin-top: -250px;
    padding:10px 15px;
    border:1px solid #dfdfdf;
    border-radius: 10px;
}
.closebtnarea i.fa-times{
    color:red;
    cursor: pointer;
}
.margin-bottom-15{
    margin-bottom: 15px;
}
.adsMargin{
    margin-top:15px;
    margin-bottom: 15px;
    height: 125px;
}
.navigate-icon{
    line-height: 39px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    left: -20px;
    display: inline-block;
    cursor: pointer;
}
.navigate-icon-disabled{
    color:#969595;
    cursor: not-allowed;
}
.overlay-white{
    background: rgba(255, 255, 255, 0.58);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index:1000000;
    top: 0px;
    display: none;
}
.sinningIcon{
    font-size: 40px;
    position: absolute;
    top:30%;
    left:50%;

}
.mr-lf-95{
    margin-left: 95px;
}
.wd-80-pr{
    width:80%;
}
.pa-0-px{
    padding: 0px !important;
}
.cop-h-f-weight{
    font-weight: 700;
}
.cop-cross-sign{
    margin-top: 4px;
    font-size: larger;
}
.cop-text-a-r{
    text-align: right;
}
.mar-b-10{
    margin-bottom: 10px;
}
.bt-re{
    margin-top: 5px;
    float: right;
}
.cop-left-angle{
    color: #ccc;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 900;
}
.bg-gray{
    background: #ccc;
}
.co-gray{
    color: #ccc;
}
.inner-addon {
  position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.cop-input-group-addon {
    padding: .375rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    padding-top: 6px;
}
.cop-to{
    text-align: center;
    padding-top: 37px;
}
.hide{
    display: none;
}
.pad-t-12{
    padding-top: 12px;
}
.scr{
    height: 400px;
    overflow: scroll;
    overflow-x: hidden;
}


/* Sakibs styling */

/* Event page styling start from here by Sakib */

ul.ul-schedule-list,
ul.ul-event-list {
    list-style: none;
    /* Remove default bullets */
    padding: 0;
    margin: 0 1.2em;
}

ul.ul-schedule-list li.li-schedule-list a {
    margin-left: 2em;
}

/* ul.ul-schedule-list li.li-schedule-list::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    position: absolute;
    font-size: 3em;
    line-height: 0.45;
} */

ul.ul-event-list li.li-event-list a {
    margin-left: 2em;
}

ul.ul-event-list li.li-event-list::before {
    content: "\2022";
    color: red;
    font-weight: bold;
    position: absolute;
    font-size: 3em;
    line-height: 0.45;
}
ul.ul-event-list li.li-event-list.events-opened:before {
    color: #a349a4;
}
ul.ul-schedule-list li.li-schedule-list.booked:before {
    color: #22b14c;
}

ul.ul-schedule-list li.li-schedule-list.waiting-approval:before {
    color: goldenrod;
}

ul.ul-schedule-list li.li-schedule-list:nth-child(4):before {
    font-weight: bold;
    position: absolute;
    font-size: 3em;
    line-height: 0.45;
    content: "\f055";
    font-family: 'FontAwesome';
    font-size: 1em;
    color: #0ba93a;
    left: 2.2em;
    line-height: 1.45;
}

ul.ul-schedule-list li.li-schedule-list:nth-child(5):before {
    font-weight: bold;
    position: absolute;
    font-size: 3em;
    line-height: 0.45;
    content: "\f055";
    font-family: 'FontAwesome';
    font-size: 1em;
    color: goldenrod;
    left: 2.2em;
    line-height: 1.45;
}

ul.ul-event-list li.li-event-list.club:before {
    color: #fa6696; 
}

ul.ul-event-list li.li-event-list:nth-child(2):before {
    color: #00a2e8;
}



ul.ul-event-list li.li-event-list:nth-child(4):before {
    font-weight: bold;
    position: absolute;
    font-size: 3em;
    line-height: 0.45;
    content: "\f055";
    font-family: 'FontAwesome';
    font-size: 1em;
    color: #a349a4;
    left: 2.2em;
    line-height: 1.45;
}
hr#event_view_border {
  border: 1px solid #00a2e8;
}

.bootstrap-datetimepicker-widget table td.active,
.bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #007bff;
    /* border-radius: 50%; */
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.day:hover,
.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
    background: #babcbf;
    cursor: pointer;
    border-radius: 50% ;
}


div.no-border i.action-icon{
    display:none;
}
div.no-border:hover i.action-icon{
   display: block;
}

/*Accountant Page*/
.account-checkbox [type="radio"]:checked,
.account-checkbox [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.account-checkbox [type="radio"]:checked + label,
.account-checkbox [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.account-checkbox [type="radio"]:checked + label:before,
.account-checkbox [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 22px;
    height: 26px;
    border: 1px solid #007bff;
    border-radius: 100%;
    background: #fff;
}
.account-checkbox [type="radio"]:checked + label:after,
.account-checkbox [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 13px;
    height: 14px;
    background: #007bff;
    position: absolute;
    top: 6px;
    left: 5px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.account-checkbox [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.account-checkbox [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.fromUser{
    padding-right: 0;
}
.toUser{
    padding-left: 0;
}
/******************************/
.overlay_badge_sell {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: skyblue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.overlay_badge_buy {
    position: absolute;
    float: right;
    top: 10px;
    left: 10px;
    background-color: green;
    color: white;
    pointer-events: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.divback {
    background-color: #e3e3e3;
    padding: 5px;
    margin: 5px;
}

.bigtext {
    color: black;
    font-weight: bolder;
}

.ordertext {
    color: #a658a6;
}

.bidtext {
    color: #4e66c4;
    align-self: flex-end;
}

.typing {
    background-color: #f47e2b;
    border-color: #f47e2b;
}

.typing i {
    display: block !important;
}

#timeText {
    color: black !important;
}
/******************************/
.hoverSet:hover .set {

    border: 4px solid orange;
    padding: 2px;

}

#savedButton {
    display: none;
}

#eventDelete {
    display: none;
}

#buyDelete {
    display: none;
}

#eventEdit {
    display: none;
}

#buyEdit {
    display: none;
}

.hoverSet:hover #savedButton {
    display: block;
}

.hoverSet:hover #eventDelete {
    display: block;
}

.hoverSet:hover #buyDelete {
    display: block;
}

.hoverSet:hover #eventEdit {
    display: block;
}

.hoverSet:hover #buyEdit {
    display: block;
}

.overlay_badge_buy:hover .editButton {
    border: 1px solid orange;
    padding: 2px;
}

.overlay_badge_buy:hover .deleteButton {
    border: 1px solid orange;
    padding: 2px;
}

.overlay_badge_buy:hover .savedButton {
    border: 1px solid orange;
    padding: 2px;
}